<div class="row">
  <div class="span8 ">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well well-lg"}) do |f| %>

<fieldset>
  <legend>Sign in</legend>

  <div class="sign-in-text">
    <h4>Sign up, meet local steamers, make friendly friends and things of such.</h4>
  </div> 
  
 
   <%= f.text_field :email, class: 'form-control', placeholder: "Email" %>  
   <%= f.text_field :password, class: 'form-control', placeholder: "Password" %>

  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, as: :boolean %>
  <% end %>


  <h3>Or login with Steam! (Coming soon! Dont login with steam quite yet, please. Theres still a bug to work out..)</h3>
    <%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>

 <%= f.button :submit, "Sign in", class: 'btn btn-danger btn-lg' %>
</fieldset>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>
