<!DOCTYPE html>
<html>
<head>
  <title>Boiler: Meet Steam Users</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a href="http://bandmatez.herokuapp.com/" class="navbar-brand">Boiler</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li> <%= link_to "Sauna", statuses_path %></li> 
            <li>
             <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
            <li>
              <%= link_to('Edit Profile', edit_registration_path(current_user)) %>
            </li>

            <% else %>
                  <li>
                  <%= link_to('Login', new_user_session_path)  %>  
                  </li>
                  <li>
                    <%= link_to('Sign Up', new_user_registration_path) %>
                  </li>
                  <li>
                    <% link_to('Friends', ) %>     
                  </li>         
              <% end %>
            </div>
          </nav>
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display
    <div class="navbar-header">

            <a href="http://bandmatez.herokuapp.com/" class="brand">Boiler</a>
            <ul class="nav">
               <li> <%= link_to "Sauna", statuses_path %></li> 
                <% if user_signed_in? %>
                  <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                  </li>
                  <li>
                  <%= link_to('Edit Profile', edit_registration_path(current_user)) %>
                  </li>
                <% else %>
                  <li>
                  <%= link_to('Login', new_user_session_path)  %>  
                  </li>
                  <li>
                    <%= link_to('Sign Up', new_user_registration_path) %>
                  </li>
                  <li>
                    <% link_to('Friends', ) %>     
                  </li>         
                <% end %>
            </ul>
          </div>
        </div>
      </div>   -->


    <div class="container"> 
      <% flash.each do |type, message| %>
      
        <div class="alert <%= flash_class type %>">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
          
           </div>
          <% end %>
          <% if user_signed_in? %>
          <div class="row">
          <div class="col-md-3">
<p>System</p>
<select class="form-control">
  <option>Mac</option>
  <option>PC</option>
 </select>

<p>Favorite Game </p>
 <select class="form-control">
   <option>CS:GO</option>
   <option>Left 4 Dead</option>
   <option>Civ IV</option>
   <option>Team Fortress 2</option>
   <option>Rust</option>
 </select>

<p>Country</p>
  <select class="form-control">
    <option>America</option>
    <option>Germany</option>
    <option>Mexico</option>
    <option>China</option>
    <option>Japan</option>
  </select>

<% end %>
</div>

     <div class="col-md-9">
      <%= yield %>
    </div>
    </div>
</body>
</html>
